<!-- update2.ejs plos-->
<!DOCTYPE html>
<html>
  <head>
    <title>update2 ploy</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>update2 ploy</h1>
    <form method="post" action="/update2/<%= ploy.id_oo %>">
      <label for="name">name:</label>
      <input type="text" id="name" name="name" value="<%= ploy.name %>" />
      <br />
      <label for="brith">brith:</label>
      <input type="text" id="brith" name="brith" value="<%= ploy.brith %>" />
      <br />
      <label for="lastname">lastname:</label>
      <input type="text" id="lastname" name="lastname" value="<%= ploy.lastname %>" />
      <br />
      <input type="submit" value="update2" />
    </form>
    <div class="link-center">
      <a href="/ploy/<%= ploy.id_oo %>">View</a>
      <a href="/delete2/<%= ploy.id_oo %>">Delete</a>
      <a href="/ploys">Back to List</a>
    </div>
  </body>
</html>